html, body, section, article,
h1, h2, h3, h4, p, strong, em, div, ul {
  margin: 0 !important;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html, body {
  height: 100%;
}


#wrapper {
  padding: 15px;
}

/*HEADER*/
#wrapper h1 {
  text-align: center;
}

.row-headers {
  margin-bottom: 20px !important;
}

.list-name-section {
  width: 70%;
  display: inline-block;
  margin: 30px;
}

.list-name-section .list-name {
  display: inline-block;
}

.list-name-section .list-name-edit {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 10px;
  cursor: pointer;
}

.cover {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  z-index: 2;
}

.item-input-col {
  width: 70%;
  display: inline-block;
}

.item-assignment {
  width: 30%;
  display: inline-block;
  margin: 0;
}

#item-input {
  width: 40%;
  min-width: 126px;
}

.add-item-button {
  position: relative;
  /*width: 20%;*/
  left: 5px;
}

.list {

}

.name {
  width: 70%;
  display: inline-block;
}

.assigned {
  width: 20%;
  display:inline-block;
  text-align: right;
}

.purchased {
  display: inline-block;
  margin-right: 20px !important;
}

.dropdown-menu a {
  cursor: pointer;
}

.edit-list-modal {
  width:100%;
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 20%;
  z-index: 3;
}

.member-div {
  position: relative;
  top: 20px;
}

.member-name {
  float: left;
  width: 50px;
}
.member-email {
  position: relative;
  left: 30px;
}

.new-member-input.input-group {
  width: 75%;
}

#new-member-name {
  width: 30% !important;
}

#new-member-email {
  width: 40% !important;
}
.add-item-buttom {
  width: 20%;
}

.modal-done {
  position: relative;
  top: 30px;
}



.input-group {
  width: 100%;
}

.input-group-addon {
  width: 30% !important;
}

.form-control {
  width: 50% !important;
}
