html, body, section, article,
h1, h2, h3, h4, p, strong, em, div, ul {
  margin: 0 !important;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

a {
  cursor: pointer;
}

html, body {
  height: 100%;
}


#wrapper {
  padding: 15px;
}

/*HEADER*/

.nav-bar-row {
  width: 100%;
  height: 50px;
}

#wrapper h1 {
  text-align: left;
  float: left;
  display: inline-block;
}

.share-button {
  float: left;
  display: inline-block;
  background: lightblue;
  width: 86px;
  height: 20px;
  text-align: center;
  margin: 10px !important;
  border-radius: 5px;
  cursor: pointer;
}

.row-headers {
  margin-bottom: 20px !important;
}

.list-name-section {
  width: 70%;
  display: inline-block;
  margin: 30px;
}

.list-name-section .list-name {
  display: inline-block;
}

.list-name-section .list-name-edit {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 10px;
  cursor: pointer;
}

.cover {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  z-index: 2;
}

.item-input-col {
  width: 70%;
  display: inline-block;
}

.item-assignment {
  width: 30%;
  display: inline-block;
  margin: 0;
}

#item-input {
  width: 40%;
  min-width: 126px;
}

.add-item-button {
  position: relative;
  /*width: 20%;*/
  left: 5px;
  cursor: pointer
}

.list {

}

.grocery-item-row {
  display: flex;
  margin-top: 10px !important;
  padding: 3px;
  background: lightgrey;
  border: 1px solid grey;
border-radius: 5px;
}

.name-col {
  width: 60%;
  display: flex;
}

.name {
  font-size: 20px;
  margin-left: 10px !important;
}

.quantity {
  border: 1px solid black;
  width: 55px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.quantity .minus,
.quantity .plus {
  cursor: pointer
}
.name-col img {
  margin-left: 17px !important;
  height: 29px;
  cursor: pointer;
}

.assigned {
  width: 20%;
  display:inline-block;
  text-align: right;
}

.purchased {
  width: 20%;
  display: inline-block;
  /*margin-right: 20px !important;*/
}

.dropdown-menu a {
  cursor: pointer;
}

.member-modal {
  padding:10px;
  display: none;
  width: 60%;
  position:absolute;
  left: 20%;
  margin: 0 auto !important;
  z-index: 3;
  background: white;
  border-radius: 5px;
}

.member-list-row {
  margin: 5px 0 !important;
  display: flex;
  justify-content: space-between;
}

.add-member-row {
  display: flex;
}

.add-name {
  width: 40%;
}

.add-email {
  width: 40%;
}

.add-member-button {
  width: 20%;
  background: lightblue;
  border-radius: 5px;
  min-width:55px;
  text-align: center;
  cursor: pointer;
}

.modal-done {
  margin: 0 auto !important;
  margin-top: 20px !important;
  width: 55px;
  padding: 10px;
  background: green;
  border-radius: 5px;
  cursor: pointer;
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,.5);
  z-index: 2;
}
