html, body, section, article,
h1, h2, h3, h4, p, strong, em, div, ul {
  margin: 0 !important;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

a,
img {
  cursor: pointer;
}

input {
  border-radius: 3px;
}

html, body {
  height: 100%;
  min-width: 500px;
}


#wrapper {
  padding: 15px;
}

/*HEADER*/

.nav-bar-row {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  margin-bottom: 25px !important;
}

#wrapper h1 {
  text-align: left;
  float: left;
  display: inline-block;
}

.share-button {
  float: left;
  display: inline-block;
  background: lightblue;
  position: relative;
  width: 111px;
  height: 27px;
  bottom: 4px;
  text-align: center;
  margin: 10px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 2px 2px rgba(0,0,0,.3)

}

.row-headers {
  margin-bottom: 20px !important;
}

.list-name-section {
  width: 70%;
  display: inline-block;
  margin: 30px;
}

.list-name-section .list-name {
  display: inline-block;
}

.list-name-section .list-name-edit {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 10px;
  height: 20px;
  cursor: pointer;
}

#name-input {
  font-size: 22px;
}

.cover {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  z-index: 2;
}

.item-input-col {
  width: 70%;
  display: inline-block;
}

.item-assignment {
  width: 30%;
  display: inline-block;
  margin: 0;
}

#item-input {
  width: 40%;
  min-width: 126px;
}

.add-item-button {
  position: relative;
  /*width: 20%;*/
  left: 5px;
  cursor: pointer
}

.grocery-item {
  background: lightgrey;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px !important;
  padding: 3px;
}

.grocery-item-row {
  display: flex;
  align-items: center;

}

.name-col {
  width: 60%;
  display: flex;
}

.name {
  font-size: 20px;
  margin-left: 10px !important;
}

.quantity {
  border: 1px solid black;
  min-width: 55px;
  height:33px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.quantity .minus,
.quantity .plus {
  cursor: pointer
}
.remove-button {
  margin-left: 0 !important;
  height: 23px;
  margin-right: 5px !important;
  cursor: pointer;
}

.comments {
  display: inline-block;
}

.edit-comments {
  border-top: 1px solid grey;
  width: 100%;
  margin-top: 6px !important;
  padding-top: 5px;
}

.edit-comments img {
  position: relative;
  left: 5px;
}

.name-col img {
  margin-left: 17px !important;
  height: 29px;
  cursor: pointer;
}

.name-col img.edit-grocery-name {
  height: 17px;
  position: relative;
  top: 5px;
  margin-left: 10px !important;
}

.assigned {
  width: 10%;
  min-width: 90px;
  display:inline-block;
  text-align: right;
}

.purchased {
  width: 15%;
  display: inline-block;
  margin-right: 5% !important;
}

.purchased input {
  cursor: pointer;
  float: left;
  margin-right: 8px !important;
}

.dropdown-menu a {
  cursor: pointer;
}

.member-modal {
  padding:10px;
  display: none;
  width: 60%;
  position:absolute;
  left: 20%;
  margin: 0 auto !important;
  z-index: 3;
  background: white;
  border-radius: 5px;
  top: 100px;
}

.member-list-row {
  margin: 5px 0 !important;
  display: flex;
  justify-content: space-between;
}

.add-member-row {
  display: flex;
}

.add-name {
  width: 40%;
}

.add-email {
  width: 40%;
}

.add-member-button {
  width: 20%;
  background: lightblue;
  border-radius: 5px;
  min-width:55px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px rgba(0,0,0,.3)
}

.modal-done {
  margin: 0 auto !important;
  margin-top: 20px !important;
  width: 55px;
  padding: 10px;
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px rgba(0,0,0,.3)
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,.5);
  z-index: 2;
}
